Django==6.0.6
django-allauth==65.16.1
django-cors-headers==4.9.0
django-countries==8.2.0
django-oauth-toolkit==3.2.0
djangorestframework==3.17.1
djangorestframework_simplejwt==5.5.1
drf-auth-kit==1.1.5
drf-spectacular==0.29.0
gunicorn==26.0.0
whitenoise==6.12.0
dj-database-url==3.1.2
psycopg[binary]==3.3.4
cryptography==50.0.0
jwcrypto==1.5.7
pyotp==2.9.0
python-dotenv==1.1.0
structlog==25.5.0
tzdata==2026.3
django-anymail[resend]==15.1
factory_boy==3.3.3
Faker==40.15.0
pytest==9.1.1
pytest-cov==7.1.0
pytest-django==4.12.0
pre-commit==4.6.0